* {
  box-sizing: border-box;
}

body {
  position: relative;
  font: 16px 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper {
  overflow: hidden;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px black;
  background-color: #fff;
  height: 64px;
  z-index: 10000;
}

.header-content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  padding: 12px 0;
}

.header-content .logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(38, 38, 38);
  white-space: nowrap;
}

.header-content .search {
  height: 30px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
}

.header-content .search input {
  padding: 5px 10px;
  height: 100%;
  width: 100%;
  max-width: 400px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background: white;
  border: 1px solid rgba(38, 38, 38, 0.2);
  border-right-width: 0;
  outline: none;
  transition: 0.1s linear box-shadow;
}

.header-content .search input:hover {
  box-shadow: inset 0 0 0 2px rgb(243, 243, 243);
}

.header-content .search input:focus {
  box-shadow: inset 0 0 0 1px rgb(175, 175, 175);
}

.header-content .search input + button {
  width: 30px;
  height: 100%;
  background: rgb(238, 238, 238);
  border: 1px solid rgba(38, 38, 38, 0.2);
  cursor: pointer;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: 0.1s linear background-color;
}

.header-content .search input + button:hover {
  background: rgb(223, 223, 223);
}

.header-content .search .voice {
  color: rgba(38, 38, 38, 0.2);
  font-size: 22px;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.1s ease-in-out color;
}

.header-content .search .voice:hover {
  color: rgba(38, 38, 38, 0.5);
}

.header-content .info-block {
  position: relative;
  display: flex;
  justify-content: flex-end;
  justify-self: end;
}

.header-content .info-block .notifications {
  font-size: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgba(38, 38, 38, 0.2);
  transition: 0.1s ease-in-out color;
}

.header-content .info-block .notifications:hover {
  color: rgba(38, 38, 38, 0.5);
}

.header-content .info-block .avatar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  background-color: rgb(142, 68, 173);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.2s ease-in background-color;
}

.header-content .info-block .avatar:hover {
  background-color: rgb(118, 94, 129);
}

.header-content .info-block .menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 90%;
  right: 0;
  width: 180px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px #000;
}

.header-content .info-block .avatar:hover .menu,
.header-content .info-block .avatar .menu:hover {
  visibility: visible;
  opacity: 1;
}

.header-content .info-block .menu div a {
  display: block;
  color: rgb(48, 48, 48);
  font-weight: 500;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.header-content .info-block .menu div.logout a {
  color: red;
  border-top: 1px solid rgb(192, 192, 192);
}

.header-content .info-block .menu div:hover {
  background-color: rgb(227, 227, 227);
}

.header-content .info-block .menu div i {
  width: 20px;
  margin-right: 10px;
  text-align: center;
}

/* Main */

main {
  padding-top: 64px;
  display: flex;
  height: 100vh;
}

.sidebar {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(223, 223, 223);
}

.streamers {
  overflow-y: auto;
}

.streamer {
  display: flex;
  align-items: center;
  padding: 15px;
  font-weight: 500;
  cursor: pointer;
}

.streamer:hover {
  background-color: rgb(212, 212, 212);
}

.streamer img {
  border-radius: 100%;
}

.streamer img + span {
  margin-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.streamer .viewers {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
}

.streamer.online .viewers::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  background-color: red;
  border-radius: 100%;
  z-index: 2;
}

.streamer.online .viewers::after {
  content: "";
  position: absolute;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: rgb(250, 131, 131);
  border-radius: 100%;
  animation: 2s ease-in-out infinite circles;
}

.social-links {
  padding: 15px;
  border-top: 1px solid #fff;
}

.social-links .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 145px;
  padding: 20px;
  background-color: rgb(202, 202, 202);
  border-radius: 3px;
  text-align: center;
}

.social-links .content .text {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}

.social-links .content .text::selection {
  color: rgb(142, 68, 173);
  background-color: rgb(38, 38, 38);
}

.social-links .content .links {
  display: flex;
  justify-content: space-evenly;
}

.social-links .content .links a {
  color: rgb(38, 38, 38);
  text-decoration: none;
  font-size: 28px;
  transition: 0.2s ease-in color;
}

.social-links .content .links a:hover {
  color: rgb(0, 191, 255);
}

/* Content */

.content-wrapper {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
}

/* Categories */

.categories {
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  min-height: 60px;
  overflow-x: auto;
  overflow-y: hidden;
}

.categories::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.categories a {
  margin-right: 15px;
  padding: 9px 20px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(38, 38, 38);
  border-radius: 10%;
  border: 1px solid rgba(38, 38, 38, 0.5);
  border-radius: 20px;
  background-color: rgb(223, 223, 223);
}

.categories a:hover {
  background-color: rgb(206, 206, 206);
}

.categories li:first-child a {
  color: rgb(183, 16, 255);
  background-color: rgb(42, 42, 42);
}

/* Carousel */

.carousel [type=radio] {
  display: none;
}

.carousel {
  display: flex;
  align-items: center;
  height: 500px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.carousel label {
  display: flex;
  margin: auto;
  width: 50%;
  height: 281.25px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
  background-color: rgb(118, 94, 129);
}

.carousel .img-wrap {
  width: 500px;
}

.carousel .img-wrap img {
  width: 100%;
  display: block;
}

.carousel .description {
  display: flex;
  padding: 10px;
}

.carousel .description .heading {
  color: rgb(253, 253, 253);
  white-space: nowrap;
  overflow: hidden;
}

.carousel .description .avatar {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
}

.carousel .description .avatar.musk {
  background-image: url(../images/musk.jpg);
}


.carousel .description .heading .primary {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel .description .heading .author {
  font-size: 14px;
}


#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(30%, 0, -200px);
}

/* Live cards */

.lives {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  column-gap: 10px;
  row-gap: 20px;
  padding: 20px;
}

.lives .live-card .preview {
  position: relative;
}

.lives .live-card.online .preview::after {
  position: absolute;
  padding: 3px 7px;
  content: "LIVE";
  font-size: 12px;
  color: #fff;
  top: 4px;
  left: 4px;
  background-color: red;
  border-radius: 4px;
  cursor: pointer;
}

.lives .live-card .preview img {
  display: block;
  width: 100%;
  filter: brightness(1);
  transition: 0.2s ease filter;
}

.lives .live-card .preview:hover img {
  filter: brightness(0.7);
}

.lives .live-card .preview .img-wrapper {
  position: relative;
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
}

.lives .live-card .preview:hover .img-wrapper::before {
  position: absolute;
  content: "\f197";
  font-size: 40px;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
}

.lives .live-card .preview .viewers {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: #000000a2;
  font-size: 12px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.lives .live-card .description {
  display: flex;
  padding: 10px 0;
}

.lives .live-card .description img {
  display: block;
  border-radius: 100%;
  height: 30px;
}

.lives .live-card .description .heading {
  width: 100%;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.heading .name-of-live {
  padding-bottom: 4px;
  font-weight: 600;
  color: rgb(38, 38, 38);
  cursor: pointer;
  transition: 0.1s ease color;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading .name-of-author {
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  transition: 0.1s ease color;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heading .name-of-live:hover,
.heading .name-of-author:hover {
  color: rgb(172, 0, 246);
}

.lives .live-card .description .options {
  padding: 0 10px;
  cursor: pointer;
  height: 20px;
}

.footer {
  flex: 0 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  color: rgb(38, 38, 38);
  font-weight: 700;
}

/* Media Query */

@media screen and (max-width: 1200px) {
  .streamers .streamer span {
    display: none;
  }

  .social-links {
    display: none;
  }

  .sidebar {
    min-width: initial;
    max-width: initial;
  }
}

/* Animations */

@keyframes circles {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
